<!doctype html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {$if eq .faviconFileId 0}
        <link rel="shortcut icon" href="/images/favicon.png"/>
    {$else}
        <link rel="shortcut icon" href="/ui/image/{$ .faviconFileId}"/>
    {$end}
    <title>激活邮箱 - {$.systemName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    {$TEA.VUE}
    {$TEA.SEMANTIC}
    <script type="text/javascript" src="/js/md5.min.js"></script>
    <script type="text/javascript" src="/js/utils.min.js"></script>
    <script type="text/javascript" src="/js/sweetalert2/dist/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="/js/components.js?v=1.0.0"></script>
</head>
<body>
<div>
    {$template "/menu"}

    <div class="form-box">
       <form>
           <div v-if="isOk">
               <h4 class="green"><span class="green">邮箱地址 {{email}} 激活成功！</span></h4>
           </div>
           <div v-if="!isOk">
               <h4><span class="red"><span v-if="email.length > 0">邮箱地址 {{email}} </span>激活失败！</span></h4>
               <p><span class="red">失败原因：{{errorMessage}}</span></p>
           </div>
           <div class="home-link-box">
               <a href="/login">去登录页 &raquo;</a>
           </div>
       </form>
    </div>
</div>