{$layout}
{$template "/left_menu"}

<div class="right-box">
    {$if eq .canSpecifyPort false}
    <p class="ui message warning">根据系统管理员设定，你不能修改此网站的端口信息。</p>
    {$end}
	<form method="post" class="ui form" data-tea-action="$" data-tea-success="success">
		<input type="hidden" name="serverId" :value="serverId"/>
		<input type="hidden" name="serverType" :value="serverType"/>
		<table class="ui table selectable definition">
			<tr>
				<td class="title">绑定端口 *</td>
				<td>
                    <div v-show="canSpecifyPort">
					    <network-addresses-box :v-server-type="serverType" :v-addresses="udpConfig.listen" :v-protocol="'udp'" :v-support-range="true"></network-addresses-box>
                    </div>
                    <div v-show="!canSpecifyPort" v-if="udpConfig.listen != null">
                        <span v-for="listen in udpConfig.listen" class="ui basic small label">udp://*:{{listen.portRange}}</span>
                    </div>
				</td>
			</tr>
		</table>
		<submit-btn></submit-btn>
	</form>
</div>