<first-menu>
    <menu-item :href="'/servers/server/settings/waf?serverId=' + serverId" code="index">设置</menu-item>
    <menu-item :href="'/servers/server/settings/waf/groups?serverId=' + serverId + '&type=inbound&firewallPolicyId='+firewallPolicyId" code="inbound" v-if="firewallPolicyId > 0">入站规则</menu-item>
    <menu-item :href="'/servers/server/settings/waf/groups?serverId=' + serverId + '&type=outbound&firewallPolicyId='+firewallPolicyId" code="outbound" v-if="firewallPolicyId > 0">出站规则</menu-item>

    <span class="ui item disabled">|</span>
    <menu-item :href="'/servers/server/settings/waf/ipadmin/countries?serverId=' + serverId + '&firewallPolicyId='+firewallPolicyId" code="country" v-if="firewallPolicyId > 0">国家/地区封禁</menu-item>
    <menu-item :href="'/servers/server/settings/waf/ipadmin/provinces?serverId=' + serverId + '&firewallPolicyId='+firewallPolicyId" code="province" v-if="firewallPolicyId > 0">省份封禁</menu-item>
    <span class="ui item disabled">|</span>
    <menu-item :href="'/servers/server/settings/waf/ipadmin/allowList?serverId=' + serverId + '&firewallPolicyId='+firewallPolicyId" code="allowList" v-if="firewallPolicyId > 0">白名单</menu-item>
    <menu-item :href="'/servers/server/settings/waf/ipadmin/denyList?serverId=' + serverId + '&firewallPolicyId='+firewallPolicyId" code="denyList" v-if="firewallPolicyId > 0">黑名单</menu-item>
</first-menu>